*.out
*.err
local_only*

*__pycache__/

archive/

*.ipynb_checkpoints/

*.egg-info

.ipynb_checkpoints/

.DS_Store

*.pth
*.pkl

wandb/

*.npy

.env
tmpwdir/

temp/
notebooks/figs/
notebooks/archived/test/

