*wandb/

*.out
*.err

*__pycache__/

novelddi/sweep_yaml/
archive/

*.ipynb_checkpoints/

*.egg-info

.ipynb_checkpoints/

CASTER/DDE/BIOSNAP/
CASTER/DDE/models/
CASTER/demo/
.DS_Store

notebooks/*.csv

baseline/GMPNN-CS/data/*
baselines/GMPNN-CS/archived/data/*

*.pth
*.pt
*.pkl


DrugBank/*

wandb/*

*.sbatch

*.csv
*.npy

TWOSIDES/*

.env
tmpwdir/

temp/
notebooks/figs/
notebooks/archived/test/

